<!DOCTYPE html>
<html>
<head>
    <title>Create Borrow Transaction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='create_borrow.css') }}">
</head>
<body>
    <h1>Create Borrow Transaction</h1>

    <form action="{{ url_for('create_borrow') }}" method="POST">
        <label for="user_id">User ID:</label>
        <input type="number" id="user_id" name="user_id" required>
        <br>
        <label for="isbn">ISBN:</label>
        <input type="number" id="isbn" name="isbn" required>
        <br>
        <input type="submit" value="Create Borrow">
    </form>
</body>
</html>
